.tranfer{
    text-align: right;
}

.support_main_title{
    font-family: 'iCielPanton-Black',"Arial", sans-serif;
    font-size: 28px;
    height: 65px;
    text-transform: uppercase;
}

.support_content_main{
    margin-top: 38%;
}

.title-support{
    font-weight: bolder;
    font-size: 16px;
    min-height: 30px;
    font-family: 'Roboto-Bold',"Arial", sans-serif;
}
.left_support_main a{
    color: #000;
}
.title-support-2{
    font-size: 16px;
    min-height: 30px;
    font-family: 'Roboto-Light',"Arial", sans-serif;
    font-style: italic;
}
.content-support-3>a:hover,.content-support-1>a:hover{
    color: #034ea2;
    font-family: 'Roboto-LightItalic','Arial',sans-serif;
    text-decoration: underline!important;
}


.content-support-1{
    min-height: 145px;
    padding-top: 5px;
}

.content-support-2{
    min-height: 80px;
    padding-left: 0px;
    padding-right: 0px;
}

.content-support-2-right{
    font-family: 'Roboto-black',"Arial", sans-serif;
    padding-left: 5px;
    padding-right: 0px;
    font-weight: bold;

}

.support_content_right_footer_main{
    padding-top: 45px;
    color: #d9ecf7;
}

.content-support-3{
    min-height: 50px;
}

.tranfer a{
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-family: 'Roboto-Thin',"Arial", sans-serif;
    font-style: italic;
}

.tranfer a:hover{
    color: #00aeef;
}

.online_contact{
    min-height: 320px;
    background-color: #f0f0f0;
}

.vertical_rule{
    border-left-width: 1px;
    border-left-color: #999;
    border-left-style: solid;
    min-height: 590px;
    margin-top: 25px;
}

.person_online_contact{
    margin-top: 10px;
}

.support_comment_border{
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-width: 1px;
}

.support_comment_margin{
   padding-left: 5px;
}

.support_comment{
    min-height: 40px;
    padding-top: 10px;
}
.support_comment textarea {
    width: 99%;
    height: 50px;
    resize: none;
    border: 1px solid #DDD;
    margin-bottom: 5px;
}

.comment_time{
    font-size: 11px;
    font-style: italic;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: right;
    padding-right: 10px;
}

.support_avatar{
    padding-left: 10px;
    width: 18%;
    padding-top: 10px;
}
.left_support_main, .right_support_main {
    margin-top: 20px;
    margin-bottom: 20px;
}
.left_support_main {
    border-right: 1px solid #b0b0b0;
    padding-right: 10px;
    padding-left: 10px;
}
.right_support_main {
    padding-left: 10px;
    padding-right: 10px;
}
.content-support-primary {
    padding-left: 10px;
}
.left_support_main img {
    width: 100%;
}
.img-support-primary, .content-support-primary {
    margin-top: 5px;
}
.support_dash {
    background: url('../images/support-dash.jpg') repeat-x 0px 10px;
}
.color_dash {
    color: #a1a1a1;
}
.support_number {
    color: #FFF;
}
.require_price {
    padding-left: 60px
}
.support_province {
    width: 20%;
}