.navbarcolor{
    background-color: #FFFFFF;
}

.navbarposition{
}

.navbarborder{
    border-bottom-color: #FFFFFF;
}

.navbarli >li >a{
    color: red;
}

/*.navbar-inverse .navbar-nav > li > a:hover{
    color: #000;
}*/