.phone_title_support{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
	
	font-family: 'iCielPanton-Black',"Arial", sans-serif;
	font-size: 40px;
}

.phone_title_line{
	font-family: 'Roboto-light',"Arial", sans-serif;
	font-size: 20px;
	font-style: italic;
}

.phone_number_support_font{
font-family: 'Roboto-light',"Arial", sans-serif;
    font-size: 83px;
}

